.topMenu {
    background: none;
}

.topMenu ul {
    margin: 0; 
    padding: 7px 6px 0; 
    line-height: 100%; 
    background: none;
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    box-shadow: none;
}

.topMenu li {
    margin: 0 5px; 
    padding: 0 0 8px; 
    float: right; 
    position: relative; 
    list-style: none; 
    height: 40px;
}

.topMenu a,
.topMenu a:link {
    font-weight: bold; 
    color: #fff; 
    text-decoration: none; 
    display: block; 
    padding: 8px 20px; 
    margin: 0; 
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;     
    text-shadow: 0 1px 1px rgba(0,0,0, 0.3); 
}

.topMenu a:hover {
    background: rgba(230, 93, 0, 0.5);
    color: #fff;
}

.topMenu .active a, 
.topMenu li:hover > a {
    background: rgba(230, 93, 0, 0.5);
    color: #fff;
    border-top: none;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
    text-shadow: 0 1px 1px rgba(0,0,0, 0.3);
}

.topMenu ul ul li:hover a,
.topMenu li:hover li a {
    background: none; border: none; 
    color: #666; 
    -webkit-box-shadow: none; 
    -moz-box-shadow: none;
}

.topMenu ul ul a:hover {
    background: rgba(230, 93, 0, 0.5) !important; 
    color: #fff !important; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    text-shadow: 0 1px 1px rgba(0,0,0, 0.1);
}

.topMenu li:hover > ul {
    display: block;
}

.topMenu ul ul {
    display: none; 
    margin: 0; 
    padding: 0; 
    width: 185px; 
    position: absolute; 
    top: 40px; 
    left: 0; 
    background: none;
    border: solid 1px #b4b4b4; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3); 
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3); 
    box-shadow: 0 1px 3px rgba(0,0,0, .3);
    z-index: 99;
}

.topMenu ul ul li {
    float: none; 
    margin: 0; 
    padding: 3px; 
}

.topMenu ul ul a {
    font-weight: normal; 
    text-shadow: 0 1px 0 #fff; 
}

.topMenu ul:after {
    content: '.'; 
    display: block; 
    clear: both; 
    visibility: hidden; 
    line-height: 0; 
    height: 0;
}

* html .topMenu  ul {
    height: 1%;
}
